html,body {
	font-family:Roboto;
	font-size:16px;
	line-height:1.4;
	height:100%;
	margin:0;
	padding:0
}
a {
	text-decoration:none;
	color:inherit
}
.container {
	margin:0 20px;
	overflow:hidden;
	*zoom:1
}
.site-content {
	padding-top:66px
}
.header {
	position:fixed;
	left:0;
	right:0;
	height:66px;
	line-height:66px;
	color:#FFF;
	background-color:#2E214B
}
.header__logo {
	font-weight:bold;
	padding:0 25px;
	float:left
}
.menu {
	float:right
}
.menu a {
	padding:0 10px
}
.menu a:hover {
	color:#8e30f8;
}
@media only screen and (max-width:750px) {
	.site-pusher,.site-container {
		height:100%
	}
	.site-container {
		overflow:hidden
	}
	.site-pusher {
		-webkit-transition-duration:0.3s;
		transition-duration:0.3s;
		-moz-transform:translateX(0px);
		-ms-transform:translateX(0px);
		-webkit-transform:translateX(0px);
		transform:translateX(0px)
	}
	.site-content {
		position:absolute;
		top:66px;
		right:0;
		left:0;
		bottom:0;
		padding-top:0;
		overflow-y:scroll;
		-webkit-overflow-scrolling:touch
	}
	.header {
		position:static
	}
	.header__icon {
		position:relative;
		display:block;
		float:right;
		width:50px;
		height:66px;
		cursor:pointer
	}
	.header__icon:after {
		content:'';
		position:absolute;
		display:block;
		width:1rem;
		height:0;
		top:16px;
		left:15px;
		-moz-box-shadow:0 10px 0 1px #fff,0 16px 0 1px #fff,0 22px 0 1px #fff;
		-webkit-box-shadow:0 10px 0 1px #fff,0 16px 0 1px #fff,0 22px 0 1px #fff;
		box-shadow:0 10px 0 1px #fff,0 16px 0 1px #fff,0 22px 0 1px #fff
	}
	.menu {
		position:absolute;
		right:0;
		top:0;
		bottom:0;
		overflow-y:scroll;
		-webkit-overflow-scrolling:touch;
		background-color:#2E214B;
		width:250px;
		-webkit-transform:translateX(250px);
		transform:translateX(250px);
	}
	.menu a {
		display:block;
		height:40px;
		text-align:center;
		line-height:40px;
	}
	.with--sidebar .site-pusher {
		-webkit-transform:translateX(-250px);
		transform:translateX(-250px)
	}
	.with--sidebar .site-cache {
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
        transition: background-color 0.4s ease;
		background-color: rgba(0,0,0,0.6)
	}
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(../fonts/ubuntu-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(../fonts/ubuntu-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}