<p class="lesson-info">
    <span class="substance">{{item.substance}} <i class="glyphicon glyphicon-send" ng-click="share()"></i></span>
    <span class="date">{{ 'last_update' | translate }}: {{ 'date_template' | translate:{date: item.updatedAt} }} {{ item.updatedAt | date:'HH:mm' }}</span>
</p>
<div class="attachments">
    <a class="attachment" ng-repeat="attachment in item.attachments" href="//{{adress}}/attachments/{{attachment}}" target="_system">
      <span class="title"><i class="glyphicon glyphicon-file"></i> {{ 'file' | translate }} {{attachment.split('.').pop()}}</span>
    </a>
</div>
<div ng-bind-html="item.content" id="lesson-content"></div>
