<input ng-model="search" type="text" class="form-control search" placeholder="{{ 'search' | translate }}">
<div class="lessons">
    <div class="lesson" ng-repeat="lesson in lessons | filter:search | orderBy:'updatedAt':true" ng-click="goLesson(lesson)" class="fade">
      <span class="subject"><b translate="subject"></b>: {{lesson.substance}}</span>
      <span class="date">{{ 'date_template' | translate:{date: lesson.updatedAt} }}</span>
      <span class="content"><b translate="content"></b>: <span class="blur">{{lesson.keywords | limitTo : 30}}</span></span>
    </div>
</div>
