<input ng-model="search" type="text" class="form-control" placeholder="{{ 'search' | translate }}" style="margin-bottom: 10px">
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th translate="subject"></th>
            <th translate="content"></th>
            <th translate="date"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="lesson in lessons | filter:search | orderBy:'updatedAt':true" ng-click="goItem(item)" class="fade">
            <td>{{lesson.substance}}</td>
            <td>{{lesson.keywords | limitTo : 20}}</td>
            <td>{{ 'date_template' | translate:{date: lesson.updatedAt} }}</td>
        </tr>
    </tbody>
</table>
